.content {
  min-height: 100vh;
  height: 100%;
  background-color: var(--cor-secundaria);

  display: flex;
  flex-direction: column;
}

.header {
  height: 90px;
  width: 100%;
  margin: 0;

  background-color: var(--cor-primaria);
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.imagem_box {
  width: 10px;
}

.icon {
  height: 100%;
}

.menu {
  display: flex;
  gap: 40px;
}

.main {
  height: 100%;
  display: flex;
  flex-grow: 1;
}
